body{
    height: 100vh;
}
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card{
    border-radius: 33px ;
  }
  
  .Sidebar{
    width: 280px;
    height:100%;
  }
  .navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #5e5e5e;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #6d6d6d;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #828183;
    color: #fff;
}
#menu-btn:focus {
  box-shadow: 0 0 0 0.25rem #7952b344;
}